body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em;
}

#app-container {
    display: flex;
    flex-direction: column;
    margin: 2% 3% 2% 3%;
    align-items: center;
    height: 96%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border-style: none;
    background-color: inherit;
}

.display-none {
    display: none;
}

.top-bar-menu-div {
    width: 100%;
    height: 6.5vh;
    margin-bottom: 1vh;
    background-color: #85e278;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas:
    "btn1 appname btn2";
}

.top-bar-menu-div > h1 {
    font-size: 1.7em;
    grid-area: appname;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.top-bar-menu-div > .add-new-park-btn {
    grid-area: btn2;
    display: flex;
    align-items: center;
}

.top-bar-menu-button svg {
    aspect-ratio: 1 / 1;
    height: 5vh;
    width: auto;
}

.top-bar-menu-div > .top-bar-menu-button.accept-btn {
    grid-area: btn2
}

.top-bar-menu-div-back {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

.div-title {
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#park-list-div {
    flex-grow: 2;
    margin-block-start: 0.5em;
}

#park-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
}

.park-list-element-info {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 40% 30% 30%;
    grid-template-areas:
    "map name name"
    "map regions waterMax";
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.park-list-element-map {
    grid-area: map;
    width: 80%;
    height: 80%;
}

.park-list-element-name {
    grid-area: name;
    justify-self: start;
    align-self: end;
    margin-bottom: 0.3em;
    font-weight: bold;
}

.park-list-element-nregions {
    grid-area: regions;
    justify-self: start;
    align-self: start;
    margin-top: 0.3em;
}

.park-list-element-water-max {
    grid-area: waterMax;
    justify-self: start;
    align-self: start;
    margin-top: 0.3em;
}

.park-list-element {

}

.park-list-element > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul#park-list li {
    list-style: none;
}

ul#park-list > li {
    list-style: none;
    width: 90vw;
    height: 18vh;
}

#draw-park-div {
    border-style: solid;
}

#draw-park-div > img {
    display: none;
}

#draw-park-div > img:first-child {
    display: inline;
}

#park-list-div ul {
    padding-inline-start: 0px;
}

li.park-list-element-map > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.help-text {}

#draw-park-div, #drawn-park-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-top: 3vh;
}

.park-map {
    height: 98%;
    width: auto;
}

.park-map#pinpoint {
    height: 20%;
    width: auto;
}

.park-map#complete-map {
    height: 75%;
    width: auto;
}

#park-map-blurred {
    height: 75%;
    width: auto;
}

#park-name-form-div {
    z-index: 2;
    position: absolute;
    padding: 0.5em 0.1em 0.5em 0.1em;
    background-color: white;
    width: 90vw;
}

#park-name-form-div > label {
    display: block;
    font-size: 1.5em;
}

#park-name-form-div > input {
    display: block;
    font-size: 1.5em;
}

footer.bottom-bar {
    width: 100%;
    height: 7vh;
    background-color: #85e278;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
